/*Proj Page*/


/* if there is a prob with x-scrolling. it will be because padding-right on imgs*/

html,
body {
    height: auto!important;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background-image: url(../assets/proj/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.mainPageContent {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 70px;
    padding: 0px, auto;
    /*  border: 5px dotted purple; */
}

#headings h1 {
    color: white;
    font-size: 35px;
    font-family: "PT Sans", sans-serif;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: -30px;
}


/* Style the Image Used to Trigger the Modal */

.projectsContent {
    /*border: 5px dotted pink;*/
    padding-left: 4%;
}

.projectsContent img {
    padding-top: 10px;
}

.websites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    margin-right: 50px;
}

.websites>div img {
    max-width: 100%;
    height: 200px;
    margin-right: 3%;
    border-radius: 15px 50px;
}

.apps {
    cursor: pointer;
    transition: 0.3s;
    margin-right: 3%;
    border-radius: 40px;
    width: 200px;
    height: 200px;
}

.research {
    cursor: pointer;
    transition: 0.3s;
    margin-right: 3%;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}

.research:hover,
.apps:hover,
.websites img:hover {
    opacity: 0.7;
}


/* for research inquiry small text in heading*/

#CtcMe {
    font-size: 1rem;
}

#ctcL {
    text-decoration: none;
    color: blue;
    -webkit-transition: color 0.5s ease-out;
}

#ctcL:hover {
    color: red;
    transition: 0.5s;
}

@media screen (max-height: 900px) {
    .mainSideBar {
        padding-bottom: 15%;
    }
}

@media (max-height: 800px) {
    .mainSideBar {
        padding-bottom: 25%;
    }
}

@media (max-width: 1920px) {
    .mainSideBar {
        padding-bottom: 30%;
    }
}

@media (max-width: 1350px) {
    .mainSideBar {
        padding-bottom: 50%;
    }
}

@media (max-width: 1100px) {
    #headings h1 {
        color: white;
        margin-left: 20px;
    }
    .mainSideBar {
        padding-bottom: 120%;
    }
}

@media (max-width: 850px) {
    .mainSideBar {
        padding-bottom: 190%;
    }
}

@media (max-width: 600px) {
    .websites>div img {
        /* max-width: 70%; */
        height: 150px;
    }
    .mainPageContent {
        padding-top: 25%;
        margin-left: 0;
    }
    .websites {
        width: 340px;
        height: auto;
        padding: 10px;
    }
    .apps {
        width: 150px;
        height: 150px;
    }
    .research {
        width: 150px;
        height: 150px;
    }
    #CtcMe {
        font-size: 0.8rem;
    }
}